{% extends 'base.html' %}
{% block content %}
<h2>Изменить пароль</h2>
<form method="POST" class="w-50">
    <div class="mb-3">
        <label>Старый пароль</label>
        <input type="password" name="old_password" class="form-control {% if errors.old_password %}is-invalid{% endif %}">
        <div class="invalid-feedback">{{ errors.old_password }}</div>
    </div>
    <div class="mb-3">
        <label>Новый пароль</label>
        <input type="password" name="new_password" class="form-control {% if errors.new_password %}is-invalid{% endif %}">
        <div class="invalid-feedback">{{ errors.new_password }}</div>
    </div>
    <div class="mb-3">
        <label>Повторите новый пароль</label>
        <input type="password" name="repeat_password" class="form-control {% if errors.repeat_password %}is-invalid{% endif %}">
        <div class="invalid-feedback">{{ errors.repeat_password }}</div>
    </div>
    <button type="submit" class="btn btn-primary">Изменить</button>
</form>
{% endblock %}